@model Labb2Mvc2.ViewModels.FilmDetails

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Movie Details</h1>

<h3>@Model.Title</h3>

<p>@Model.Description</p>

<p>Rating: @Model.Rating</p>

<p>Language: @Model.Language</p>

